.jdn__emptyList {
  display: flex;
  flex-direction: column;

  .anticon {
    display: inline-block;

    svg {
      height: 50px;
      width: 50px;
      margin-top: 64px;
      margin-bottom: 16px;
    }
  }


  .ant-typography {
    font-size: 14px;
    text-align: center;
    margin: 0 16px;

    .ant-btn-link {
      margin: 0;
      padding: 0;
  }
  }
}
