.jdn {
  &__pageObject {
    &-content {
      &-text {
        word-break: break-all;
        margin-left: 8px;
      }

      & .ant-tooltip {
        max-width: 100%;
        word-break: break-all;
      }
    }

    .jdn__notification {
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    &__settings {
      background-color: #fafafa;
      padding: 8px 20px;

      &-url {
        word-break: break-all;
      }
    }

    & .jdn__xpath_container--shift {
      padding-left: 54px;
    }

    &_button {
      &-menu,
      &-copy {
        padding: 0;
        height: 20px;
        position: relative;
        top: 0;
      }

      &-menu {
        right: 2px;
      }

      &-copy {
        visibility: hidden;
        right: 26px;
        top: -2px;
      }
    }

    .ant-collapse {
      border: none;
      border-radius: 0;

      & > .ant-collapse-item {
        border: none;

        & > .ant-collapse-header {
          background: #fff;
          padding: 5px 8px;
          font-size: 12px;
          gap: 8px;

          .ant-collapse-header-text {
            display: flex;
          }

          .ant-collapse-extra {
            display: flex;

            .ant-dropdown {
              left: -120px !important; // fixed context menu under the button
            }
          }

          &:hover {
            .jdn__pageObject_button-copy {
              visibility: visible;
            }
          }
        }

        & > .ant-collapse-content {
          border: none;

          & > .ant-collapse-content-box {
            padding: 0 0;
          }
        }

        & > .ant-collapse-header .ant-collapse-arrow {
          margin-right: 0px;
        }
      }
    }

    &_placeholder {
      display: flex;
      flex-direction: column;

      .anticon svg {
        height: 50px;
        width: 50px;
        margin-top: 40px;
        margin-bottom: 24px;
      }

      .ant-typography {
        text-align: center;
      }
    }

    .jdn__locatorsList-status {
      top: 0px;
    }

    .jdn__xpath_item {
      padding-left: 24px;
      padding-right: 24px;
      width: 100%;
    }
  }
}
