#jdn-popup-wrapper .jdn-edit-popup {
  width: 400px;

  &__label {
    justify-content: space-between;
    margin-bottom: 24px;
    position: relative;

    &-text {
      vertical-align: initial;
    }
  }

  &__select {
    padding-left: 12px !important;
  }

  .jdn-popup__button-container {
    margin-top: 40px;
  }
}
