#jdn-popup-wrapper .jdn-edit-popup {
  width: 400px;

  &__label {
    justify-content: space-between;
    margin-bottom: 24px;
    position: relative;

    &-text {
      vertical-align: initial;
    }
  }

  input,
  textarea,
  select {
    font-family: inherit;
    width: 298px;
    min-height: 30px;
    padding: 0 16px;

    & ~ i {
      display: none;
      position: absolute;
      right: 8px;
      top: 5px;
    }

    & ~ .jdn-input-message {
      position: absolute;
      bottom: -34px;
      left: 70px;
      height: 30px;
      color: @jdn-light-blue;
      line-height: 15px;
    }

    &.jdn-input-error {
      border: 1px solid @warning-color;

      & ~ .jdn-input-message {
        color: @warning-color;
      }
    }

    &.jdn-input-warning {
      border: 1px solid @warning-yellow-color;
      
      & ~ .jdn-input-message {
        color: @warning-yellow-color;
      }
    }

    &:invalid ~ i {
      display: block;
    }
  }

  &__select {
    padding-left: 12px !important;
  }

  textarea {
    resize: vertical;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .jdn-popup__button-container {
    margin-top: 40px;
  }
}
