.settings-popup {
  width: 360px;

  &__input-container {
    display: flex;
    gap: @gap-m;
    align-items: center;
  }

  &__label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: @gap-s;
    font-size: @font-size-s;
    line-height: @line-height-l;
    color: @color-white;
    font-style: normal;
    font-weight: normal;
  }

  &__input[type=number] {
    .unborder();
    
    width: 43px;
    height: 28px;
    padding: 5px 7px;
    box-sizing: border-box;
    border-radius: @default-radius;
    font-size: @font-size-m;
    line-height: @line-height-m;
    color: @color-black;
  }
}
