@import "./variables.less";

#chromeExtensionReactApp {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  background-color: #f7faff;

  & > * {
    height: 100%;
  }
}

.jdn__autofind {
  min-width: 310px;
  height: 100%;
  overflow-x: auto;
  background-color: #f7faff;
}
