@import "./variables.less";

.jdn {
  &__locatorsList {
    padding-top: 28px;

    &-status {
      font-size: 14px;

      &-large {
        font-size: 17px;
        margin: 0 5px 0 8px;
        vertical-align: middle;
      }
    }

    &-header {
      font-size: 16px;
      font-weight: 700;
      display: flex;
      flex-wrap: wrap;
      padding: 8px 8px 8px 12px;

      &-title {
        flex-grow: 1;
        flex-shrink: 0;
        line-height: 30px;
      }

      &:first-child {
        padding-left: 4px;
      }

      button {
        padding: 4px 12px;
        font-weight: bold;
        font-size: 12px;
      }

      button:not(.ant-btn-primary, .ant-btn-dangerous) {
        border: none;
        color: #1582d8;
        background: #deeffd;

        &:hover {
          background: #cde6f6;
        }
      }

      &-buttons {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
        margin-left: 8px;
      }

      .ant-btn {
        height: 30px;

        .anticon {
          vertical-align: middle;
        }
      }

      .ant-btn-dangerous {
        border: none;
        background: #fddede;

        &:hover {
          background: #f6d1d1;
        }
      }

      .ant-select-multiple .ant-select-selection-item {
        background-color: #ffffff;
        border: 1px solid #ebebeb;
        margin-inline-end: 6px;
      }

      .ant-select-multiple .ant-select-selection-item-content {
        font-size: 12px;
        color: @primary-color;

        span {
          font-weight: 400;
          color: #000000;
        }
      }

      .anticon-close {
        color: #949494;
      }
    }

    &-content {
      background-color: #fff;
      border: 1px solid #d1d1d1;
      overflow-y: auto;
      height: calc(100vh - 212px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &.jdn__pageObj-content {
        height: calc(100vh - 168px);
      }

      .ant-spin {
        margin-right: 8px;
      }

      .ant-spin-sm .ant-spin-dot {
        font-size: 12px;
      }

      .ant-spin-dot-item {
        background-color: #d8a115;
      }

      .ant-checkbox + span {
        padding-left: 20px;
      }

      .ant-dropdown-trigger {
        color: #777;

        &:hover {
          color: @primary-color;
        }

        &:active {
          color: @primary-active-color;
        }
      }
    }

    &-progress {
      display: flex;
      flex-direction: column;

      &-text {
        background: #000;
        color: #fff;
        margin: 0;
        height: 28px;
        padding: 6px 16px;
        font-size: 12px;
        line-height: 16px;
      }

      .ant-progress {
        height: 15px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .jdn__locatorsList {
    &-header {
      justify-content: space-between;
      align-items: center;

      &-title {
        flex-basis: 100%;
      }
    }

    &-content {
      height: calc(100vh - 262px);
    }
  }
}

@media screen and (max-width: 400px) {
  .jdn__locatorsList-header {
    justify-content: end;

    &-title {
      flex-basis: auto;
    }

    .ant-select-multiple .ant-select-selection-item {
      margin-inline-end: 0 !important;
      margin-bottom: 6px;
    }
  }
}
