body,
html {
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: nont;
}

#chromeExtensionReactApp {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f7faff;
}

.ant-layout { background-color: inherit; }

.ant-select-selection-item {
  color: #008ace;
  font-size: 13px;
}

button svg {
  vertical-align: text-bottom;
}


.ant-btn {
  border: solid 1px #777;
  color: #464547;

  &.ant-btn-link {
    border: none;
  }
}

.treeCounter {
  padding: 0 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #222;
  border-radius: 8px;
  border: solid 1px #cbcbcb;
  background-color: #fff;
}

.field {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #777;
  text-transform: capitalize;
}

.inputsRow {
  display: inline-block;

  & > div {
    float: left;
  }
}

.db {
  display: block;
}

.posr {
  position: relative;
}

.add {
  position: absolute;
  right: 0;
  top: -10px;
}

.ant-input {
  color: #008ace;
}

.list {
  padding-left: 0;
  list-style-type: none;
  display: block;

  .list {
    padding-left: 36px;
  }
}

.link {
  cursor: pointer;
}

// .ant-btn-primary {
//   color: #fff;
//   border: none;
// }

.ant-btn-sm {
  font-size: 12px;
}

.ant-select-selector {
  border: 1px solid #d8d8d8 !important;
}

.btnGroup {
  width: 100%;
  display: flex;
}

.btnGroup > .inlineBtn {
  float: left;
  margin: 10px 0 10px 10px;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
}

.btn{
  margin: 0 10px 10px 0;
  padding: 5px;
  width: 35px;
}

.controls-container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.generate-style {
  margin: 10px 10px 10px 10px;
}

.checkbox-wrapper {
  margin: 10px 0;
}

.select-wrapper {
  margin: 2px 0;
  display: flex;
}
