@import "./variables.less";

.jdn {
  /*
      HEADER
    */
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-kebab {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .jdn {
    &__header-kebab {
      display: flex;
      width: 16px;
      height: 16px;
    }

    &__header-link {
      display: none;
    }
  }
}
