@import "./variables.less";

.jdn {
  /*
      XPATHES
      */

  &__xpath {
    &_container {
      position: relative;

      & .ant-btn-text {
        display: none;
        position: absolute;
        right: 26px;
        top: 2px;
      }

      & a {
        position: absolute;
        right: 12px;
        top: 2px;
      }

      &:hover {
        & .ant-btn-text {
          display: inline-block;
        }
      }

      .jdn__buttons--drag-handle {
        cursor: grab;
        right: 52px;

        & .sortable-chosen {
          cursor: grabbing;
        }
      }

      &--selected {
        background-color: #ecf7ff;

        &:hover {
          background-color: #d4eefa;
        }

        &.jdn__xpath_container--cm-selected {
          background-color: #d4eefa;
        }
      }

      &--shift {
        &:hover {
          background-color: #f2f2f2;
        }
      }

      &--cm-selected {
        background-color: #f2f2f2;
      }

      &.sortable-ghost {
        opacity: 0;
      }
    }

    &_locators {
      display: flex;
      gap: 8px;
    }

    &_item {
      font-size: 12px;
      word-break: break-word;
      line-height: 26px;
      display: flex;
      width: calc(100% - 72px);
      gap: 8px;

      &-locator {
        color: @xpath-item-color-locator;
      }

      &-type {
        color: @xpath-item-color-type;
      }
    }
  }
}
