.jdn__locatorsTree-container {
  height: calc(-192px + 100vh);
  overflow-y: auto;
  position: relative;
}

.jdn__locatorsTree-container--table {
  display: grid;
  grid-template-columns: minmax(100px, auto) 1fr;

  .ant-tree-list-holder > div {
    overflow-x: auto;
  }

  .jdn__locator_colorized-string--vividus {
    span span, .jdn__locator_output-string-general-view {
      display: none;
    }
  }

  .jdn__locatorsTree--left,
  .jdn__locatorsTree--right {
    height: calc(-192px + 100vh);
    min-width: 100px;
  }

  .jdn__locatorsTree--left {
    .jdn__locator_buttons {
      display: none;
    }

    .jdn__locator_locator-name--vividus, .jdn__locator_caret-down {
      display: inline;
    }
  }

  .jdn__locatorsTree--right {
    .jdn__locator_checkbox_wrapper, .jdn__locator-icon, .ant-tree-switcher {
      display: none;
    }

    .jdn__locator_output-string-general-view,
    .jdn__locator_output-string-general-view span,
    .jdn__locator_locator-type--vividus {
      display: inline;
    }
  }

}

.jdn__locator_checkbox_wrapper {
  display: none;
}

.jdn__locator_locators {
  white-space: nowrap;
}
