@import "../../../common/styles/variables.less";

.jdn__locator {
    display: flex;
    font-size: 12px;
    width: calc(100vw - 167px);
    overflow-x: clip;
    min-height: 44px;

    font-family: "Noto Sans Display",
      sans-serif;
    word-break: break-word;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0, 0, 0, .3);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.1); /* Цвет фона под скроллбаром */
    }

    &_container {
      position: relative;

      & .jdn__locator-page_button-copy {
        display: none;
        padding: 0;
        height: fit-content;
      }

      :not(.ant-tree-treenode-disabled) &:hover {
        & .jdn__locator-page_button-copy {
          display: inline-block;
        }
      }
    }

    &_locators {
      display: flex;
      align-items: flex-start;
      padding-left: 1px;
    }

    &_checkbox_wrapper {
      display: flex;
      margin-right: 8px;
      max-height: 22px;
      padding-left: 1px;
    }

    &_buttons {
      display: flex;
      flex-direction: row-reverse;
      height: 32px;
      width: 64px;
    }

    &_output-string {
      color: @xpath-item-color-locator;
    }

    &_item-type {
      color: @xpath-item-color-type;
    }


    &--deleted,
    &--deleted &-locator,
    &--deleted &__item-type {
      color: @jdn-disabled-color;

      & svg * {
        stroke: @jdn-disabled-color;
      }
    }

    &--disabled,
    &--disabled &-locator,
    &--disabled &__item-type,
    &--disabled &__output-string {
      color: #d9d9d9;

      & svg * {
        stroke: #d9d9d9;
      }
    }
}

.ant-tooltip-content {
  margin-top: -1px;
}
