@import "../../../common/styles/variables.less";

.jdn__locatorEdit {
  min-height: 238px;

  &-warning {
    margin-top: 8px;

    & svg {
      color: @warning-icon-color;
      margin-right: 6px;
    }
  }

  &-navigation {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
  }

  & .ant-form-item:last-child {
    margin-bottom: 0;
  }

  & .ant-modal-body {
    padding-bottom: 12px;
  }

  .input__locator-type,
  .input__annotation-type {
    margin-bottom: 8px;

    &__textarea {
      // expands textarea to view port height:
      max-height: calc(100vh - 396px);
      overflow-y: 'scroll';
    }
  }
}

.custom-divider-for-dropdown {
  & .ant-select-item-group {
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .rc-virtual-list-holder {

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0, 0, 0, .3);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
  }


  .ant-select-dropdown {
    overflow-y: scroll !important;

  }
}