.cm_container {
  position: fixed;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.1s;
  transform-origin: top left;
  padding: 0;
  z-index: 6000;
}

.cm_container.display {
  opacity: 1;
  transform: scale(1);
}

.cm_container,
.cm_container * {
  box-sizing: border-box;
}

.cm_container * {
  position: relative;
}

.cm_container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 5px #333;
}

.cm_container li {
  padding: 10px 17px;
  padding-right: 3em;
  cursor: pointer;
  white-space: nowrap;
}

.cm_container li:hover {
  background-color: #212228;
  color: #1582d8;
}

.cm_container li .cm_container_warning-option {
  color: #d82c15;
}

.cm_container li .cm_icon_span {
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  position: absolute;
  display: inline-block;
}

.cm_container li .cm_text_icon {
  display: inline-block;
  margin: 0 0 0 10px;
  transform: scale(-1, 1);
}

.cm_container li .cm_text .cm_text_edit_icon {
  position: absolute;
  right: -2.8em;
}

.cm_container li .cm_sub_span {
  width: 1em;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
}

.cm_container li > ul {
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  visibility: hidden;
  max-height: 190px;
  overflow-y: auto;
}

.cm_container li > ul::-webkit-scrollbar {
  width: 4px;
}
.cm_container li > ul::-webkit-scrollbar-thumb {
  background-color: rgba(102, 104, 118, 1);
  border-radius: 10px;
}
.cm_container li > ul::-webkit-scrollbar-thumb:active {
  background-color: rgb(157, 157, 163);
  border-radius: 10px;
}
.cm_container li > ul::-webkit-scrollbar-track {
  background-color: #000;
}

.cm_container li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.cm_container li.cm_divider {
  border-bottom: 1px solid #aaa;
  margin: 5px;
  padding: 0;
  cursor: default;
}

.cm_container li.cm_divider:hover {
  background-color: inherit;
}

.cm_container.cm_border_right > ul ul {
  left: unset;
  right: 100%;
}

.cm_container.cm_border_bottom > ul ul {
  top: unset;
  bottom: 0;
}

.cm_container li[disabled=""] {
  color: #777;
  cursor: default;
}

.cm_container li[disabled=""]:hover {
  background-color: inherit;
}

.jdn-highlight {
  position: absolute;
  z-index: 5000;
  color: rgba(255, 255, 255, 1);
}

.jdn-highlight div {
  display: flex;
  justify-content: flex-end;
}

.jdn-label {
  font-weight: 700;
  font-size: 9px;
  line-height: 12px;
  padding: 0 4px;
  white-space: nowrap;
}

.jdn-tooltip {
  position: absolute;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: #fff;
  z-index: 5500;
  font-size: 10px;
  font-family: "Noto Sans", sans-serif;
  line-height: 16px;
  padding: 10px 8px 15px 10px;
  margin-top: 15px;
}

.jdn-tooltip::after {
  content: "";
  position: absolute;
  right: 10px;
  top: -18px;
  border: 9px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.8);
}

.jdn-tooltip b {
  font-weight: bold;
}

.jdn-hint-icon {
  position: relative;
}

.jdn-hint-icon .jdn-tooltip--light {
  display: none;
}

.jdn-hint-icon:hover .jdn-tooltip--light {
  display: inline-block;
}

.jdn-tooltip--light {
  width: 250px;
  top: -14px;
  position: absolute;
  display: inline-block;
  margin-left: 13px;
  background: rgba(46, 46, 46, 0.95);
  border-radius: 4px;
  color: #fff;
  z-index: 5500;
  font-size: 10px;
  line-height: 16px;
  padding: 10px 8px 15px 10px;
}

.jdn-tooltip--light::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 15px;
  border: 6px solid transparent;
  border-right: 12px solid rgba(46, 46, 46, 0.95);
  z-index: 5501;
}

.jdn-primary {
  background-color: rgba(21, 130, 216, 0.4);
  border: 1px solid rgba(21, 130, 216, 1);
}

.jdn-primary .jdn-label {
  background-color: rgba(21, 130, 216, 1);
}

.jdn-secondary {
  border: 1px solid rgba(216, 161, 21, 1);
  background-color: rgba(216, 161, 21, 0.2);
}

.jdn-secondary .jdn-label {
  background-color: rgba(216, 161, 21, 1);
}

.jdn-error {
  border: 1px solid rgba(216, 44, 21, 1);
  background-color: rgba(216, 44, 21, 0.2);
}

.jdn-error .jdn-label {
  background-color: rgba(216, 44, 21, 1);
}

/***************************
  CHANGE ELEMENT NAME MODAL
****************************/
.jdn-change-element-name-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 270px;
  height: 86px;
  padding: 9px 18px 17px;
  background-color: #000;
  transform: translate(-50%, -50%);
  z-index: 11111;
  transition: all 0.5s ease-in-out;
}

.jdn-change-element-name-modal--success {
  width: 145px;
  height: 100px;
}

.jdn-change-element-name-modal__close-link {
  position: absolute;
  top: 1px;
  right: 15px;
  font-size: 23px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.jdn-change-element-name-modal__close-link:hover {
  color: #1582d8;
}

.jdn-change-element-name-modal__title {
  margin: 0 0 14px;
  font-weight: 700;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.jdn-change-element-name-modal__title--success {
  margin: 0 0 5px;
  padding: 50px 9px 0px;
}

.jdn-change-element-name-modal__title--success::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 66px;
  transform: rotate(-45deg);
  animation-name: appearance;
  animation-duration: 0.25s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes appearance {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 15px;
    height: 8px;
    border-bottom: 1px solid #1582d8;
    border-left: 1px solid #1582d8;
  }
}

.jdn-change-element-name-modal__title--success::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 59px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #1582d8;
  opacity: 0;
  animation-name: cirlce;
  animation-duration: 0.25s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes cirlce {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.jdn-change-element-name-modal__form-input {
  width: 180px;
  padding: 3px 5px 4px;
  margin: 0 5px 0 0;
  color: #000;
  border: 1px solid #1582d8;
  border-radius: 3px;
}

.jdn-change-element-name-modal__form-button {
  padding: 5px 10px;
  background: #1582d8;
  color: #fff;
  border: none;
  border-radius: 3px;
}
